<div class="fixed bottom-4 right-4">
  <div class="dropdown dropdown-top dropdown-end">
    <div tabindex="0" role="button" class="btn m-1 rounded-full w-12 h-12 flex items-center justify-center text-white bg-tomato hover:bg-rose-800" >
      +
    </div>
    <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
      <li><a>Item 1</a></li>
      <li><a>Item 2</a></li>
    </ul>
  </div>
</div>
