<header class="bg-ginkgo-500 w-full h-auto rounded-bl-[var(--curve-value)]">
  <div class="container mx-auto p-4 flex items-center justify-between">
    
    <!-- 左側コンテンツ（例として「ロゴ」を配置） -->
    <div class="logo">
      <span class="text-white text-lg font-bold">MyApp</span>
    </div>

    <!-- ドロップダウンメニュー -->
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn m-1">Menu</div>
      <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
        <% if user_signed_in? %>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </li>
          <li>
            <%= link_to "お薬とサプリ", drug_supplement_lists_index_path %>
          </li>
          <li>
            <%= link_to "症状リスト", symptoms_path %>
          </li>
        <% end %>
      </ul>
    </div>

  </div>
</header>
